# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/
ENV/
env/

# VS Code
.vscode/

# Environment Variables
.env

# Python cache
.pytest_cache/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db